@model IEnumerable<EstoqueLoja.WEB.Models.ItensEstoque>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeIte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeIte)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdLoj }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdLoj }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdLoj })
            </td>
        </tr>
}
    </tbody>
</table>
