@model EstoqueLoja.WEB.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPro)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPro }) |
    <a asp-action="Index">Back to List</a>
</div>
