@model EstoqueLoja.WEB.Models.Loja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLoj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLoj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoLoj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoLoj)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLoj }) |
    <a asp-action="Index">Back to List</a>
</div>
